@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*::-webkit-scrollbar {
    width: 3px;
    height: 0px;
    background-color: rgb(141, 141, 146);
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(83, 83, 104);
}

#Elem:hover #ElemLine {
    background-color: white;
    opacity: 50%;
}

#terminal-container {
    color: white;
}

.codicon-symbol-keyword:before {
    content: " " !important;
    width: 16px;
    height: 16px;
    background-image: url("./images/codicon.png");
    background-size: cover;
}

.codicon-symbol-variable:before {
    content: " " !important;
    width: 16px;
    height: 16px;
    background-image: url("./images/codicon.png");
    background-size: cover;
}

.codicon-symbol-file:before {
    content: " " !important;
    width: 16px;
    height: 16px;
    background-image: url("./images/File.svg");
    background-size: cover;
}

span .highlight {
    color: #52FFFCFF !important;
}

.editor-widget {
    border-radius: 5px !important;
    overflow: hidden;
}

.monaco-editor .squiggly-error {
    background: url("./images/error.png") repeat-x bottom left !important;
}

#NavBar {
    -webkit-app-region: drag;
}

#navElements {
    -webkit-app-region: no-drag;
}

pre {
    text-align: left;
    border-radius: 0 0 30px 30px;
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, с 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ поддерживается в IE, Safari, и Firefox 3.1.*/
}
